<!DOCTYPE html>
<html>
    <head>
        <title>Presentation</title>
        <meta charset="utf-8" />
        <base href="/">
        <link href="stylesheets/slide-style.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <textarea id="source"></textarea>
        <script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
        <script>
            function updateUrl(slideshow) {
                history.replaceState(
                    '<%= session %>',
                    '',
                    location.origin + '/slides/<%= session %>#' + (slideshow.getCurrentSlideIndex() + 1)
                );
            }

            fetch('slides/<%= session %>.md').then(async (data) => {
                let textarea = document.getElementsByTagName('textarea')[0];
                let slideData = await data.text();
                textarea.innerHTML = slideData;
                var slideshow = remark.create({
                    ratio: '16:9',
                    highlightLanguage: 'auto',
                    highlightStyle: 'monokai',
                });
                slideshow.on('afterShowSlide', function (slide) {
                    setTimeout(() => updateUrl(slideshow));
                });
                setTimeout(() => {
                    document.querySelectorAll('.remark-slide [class*=menu-]').forEach((slideElement) => {
                        slideElement.querySelectorAll('.left-column h3').forEach((child) => {
                            if (slideElement.classList.contains('menu-'+ child.id)) {
                                child.classList.add('active');
                            }
                        });
                    });
                    updateUrl(slideshow);
                });
            });
        </script>
    </body>
</html>
